<h1>Sun and Moon Data for <%= @sun_moon_facade.zone %></h1>
<h3>Localtime: <%= @sun_moon_facade.localtime %></h3>
<ul class="sun-moon-data">
  <li id="sunrise"> Sunrise: <%= @sun_moon_facade.sunrise %> </li>
  <li id="sunset"> Sunset: <%= @sun_moon_facade.sunset %> </li>
  <li id="moonrise"> Moonrise: <%= @sun_moon_facade.moonrise %> </li>
  <li id="moonset"> Moonset: <%= @sun_moon_facade.moonset %> </li>
  <li id="moon_phase"> Moon Phase: <%= @sun_moon_facade.moon_phase %> </li>
  <li id="moon_illumination"> Moon Illumination: <%= @sun_moon_facade.moon_illumination %> </li>
</ul>
