<center>
  <section class='api-text'>
    <h1> Hi, <%= current_user.first_name %>!</h1>
    <br></br>
    <h2> Name: <%= current_user.first_name %> <%= current_user.last_name %></h2>
    <h2> Joined: <%= current_user.created_at %></h2>
    <br></br>
    <h2><%=link_to "View Favorites", "/favorites" %></h2>
    <h2><%=link_to "Add to Favorites", "/favorites/new" %></h2>
  </section>
</center>
