<h1>Solar System Object: <%= @object.name %></h1>
<h3>Planet?: <%= @object.planet? %></h3>

<ul class="solar-system-data">
  <% if @object.around_planet != nil %>
    <li id="around_planet"> Satellite Of: <%= @object.around_planet %> </li>
  <% end %>
  
  <li id="discovered_by"> Discovered By: <%= @object.discovered_by %> </li>
  <li id="discovered_on"> Date of Discovery: <%= @object.discovered_on %> </li>
  
  <% if @object.moons != nil %>
    <li id="moons"> Moons: <% @object.moons.each do |moon| %>
        <p><%= moon[:moon] %></p>
      <% end %>
    </li>
  <% end %>
  
  <li id="mass"> Mass: <%= @object.mass %> </li>
  <li id="volume"> Volume: <%= @object.volume %> </li>
  <li id="density"> Density: <%= @object.density %> </li>
  <li id="gravity"> Gravity: <%= @object.gravity %> </li>
</ul>
