<!DOCTYPE html>
<html>
  <head>
    <title>StellarFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-dark justify-content-between" style="background-color: rgba(50, 50, 50, 0.6); margin-left: -20px; margin-right: -15px;">

      <a class="navbar-brand" href="/"><span class="app-name" style="font-size: 25px; margin-left: 5px;">S</span>
        <!-- <img src="https://cdn3.iconfinder.com/data/icons/letters-and-numbers-1/32/letter_S_red-512.png" width="30" height="30" alt="Stellar"> -->
      </a>


      <span class="form-inline">
        <% if current_user %>
          <%= link_to 'Log Out', logout_path, class: "btn btn-sm btn-dark"%>
        <% else %>
          <%= button_to 'Sign-In with Google', google_oauth2_login_path, class: "btn btn-sm btn-light"%>
        <% end %>
      </span>

    </nav>
    <%= yield %>

  </div>
  </body>
</html>
