<!DOCTYPE html>
<html>
  <head>
    <title>StellarFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(50, 50, 50, 0.0); margin-left: -20px; margin-right: -15px;">

      <a class="navbar-brand" href="/"><span class="app-name" style="font-size: 25px; margin-left: 15px;">Stellar</span>
        <!-- <img src="https://cdn3.iconfinder.com/data/icons/letters-and-numbers-1/32/letter_S_red-512.png" width="30" height="30" alt="Stellar"> -->
      </a>
      <% if current_user %>
        <a href="/sun_and_moon" class='btn btn-dark my-2 my-sm-0'>Sun & Moon</a>

        <form class="form-inline my-2 my-lg-0" action='/search'>
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
        </form>


          <span class="form-inline">

          <%= link_to 'Profile', profile_path, class: "btn btn-sm btn-dark"%>
          <%= link_to 'Log Out', logout_path, class: "btn btn-sm btn-dark"%>
      <% else %>
          <%= button_to 'Sign-In with Google', google_oauth2_login_path, class: "btn btn-sm btn-dark", id: "google-button"%>
        <% end %>
      </span>

    </nav>
    <%= yield %>

  </div>
  </body>
</html>
