<!DOCTYPE html>
<html>
  <head>
    <title>StellarFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= link_to 'Log Out', '/logout' if current_user %>
    <%= yield %>
  </body>
</html>
